:root {
  --bg-page-img: url(../assets/crew/background-crew-mobile.jpg);
}
@media (min-width: 35em) {
  :root {
    --bg-page-img: url(../assets/crew/background-crew-tablet.jpg);
  }
}
@media (min-width: 57em) {
  :root {
    --bg-page-img: url(../assets/crew/background-crew-desktop.jpg);
  }
}

.title-num {
  font-weight: 700;
  margin-inline-end: 0.5rem;
  color: hsl(var(--clr-white), 0.25);
}

.btn-tabs {
  --gap: 1rem;
  background-color: hsl(var(--clr-white), 17.5%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: hsl(var(--clr-light), 1);
}

.underline-indicators > button {
  padding: 0;
  border: 0;
}
.underline-indicators > button:hover,
.underline-indicators > button:focus {
  background-color: hsl(var(--clr-white), 0.5);
}
.underline-indicators > button[aria-selected='true'] {
  background-color: hsl(var(--clr-white));
}

/* --------Page Layout-------- */
main {
  grid-template-areas:
    'title'
    ' img '
    'content';
  margin: 0 1.5rem 3rem;
  text-align: center;
  place-items: center;
}
.title {
  grid-area: title;
  margin-bottom: 2rem;
}
.img {
  grid-area: img;
  width: 65%;
  align-self: end;
}
.tab-list {
  --gap: 1rem;
}
.main-content {
  align-self: start;
  grid-area: content;
  flex-direction: column;
  align-items: center;
  --gap: 2rem;
  border-top: 1px solid hsl(var(--clr-white), 0.25);
  padding-top: 2rem;
}

.content h2 span {
  display: inline-block;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  color: hsl(var(--clr-white), 0.5);
}
.content p {
  margin-top: 1rem;
  line-height: 1.7;
}

@media (min-width: 35em) {
  main {
    margin: 3rem;
    gap: 2rem;
  }
  .title {
    justify-self: start;
  }
  .main-content {
    width: 85%;
  }
  .btn-tabs {
    --underline-gap: 0.75rem;
  }
}

@media (min-width: 57em) {
  main {
    margin: 0 0 5rem 9.5rem;
    gap: 4rem 0;
    grid-template-columns: repeat(2, minmax(0, 100rem));
    grid-template-areas:
      'title title'
      ' img content'
      'img content';
    place-items: center;
  }
  .main-content {
    max-width: 50ch;
    align-items: flex-start;
    text-align: start;
    --gap: 3rem;
  }
  main > * {
    flex-basis: 100%;
    flex-grow: 1;
  }

  .img {
    width: 70%;
    min-width: 350px;
  }
}
