:root {
  --bg-page-img: url(../assets/destination/background-destination-mobile.jpg);
  --bg-moon-img: url(../assets/destination/image-moon.png);
}
@media (min-width: 35em) {
  :root {
    --bg-page-img: url(../assets/destination/background-destination-tablet.jpg);
  }
}
@media (min-width: 57em) {
  :root {
    --bg-page-img: url(../assets/destination/background-destination-desktop.jpg);
  }
}

.title-num {
  font-weight: 700;
  margin-inline-end: 0.5rem;
  color: hsl(var(--clr-white), 0.25);
}

.btn-tabs {
  --underline-gap: 0.5rem;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-300);
  letter-spacing: var(--ltr-spc);
  text-transform: uppercase;
  background-color: transparent;
  color: hsl(var(--clr-light), 1);
}

/* --------Page Layout-------- */
main {
  grid-template-areas:
    'title'
    ' img '
    'content';
  gap: 1.5rem;
  margin: 0 1.5rem 3rem;
  text-align: center;
  place-items: center;
}
.title {
  grid-area: title;
}
.img {
  grid-area: img;
  width: 52%;
}
.tab-list {
  gap: 1.75rem;
}
.main-content {
  grid-area: content;
  flex-direction: column;
  align-items: center;
  --gap: 2rem;
}
.content p {
  line-height: 1.7;
  border-bottom: 1px solid hsl(var(--clr-white), 0.25);
  padding: 1rem 0 2rem;
}

/* -----sub-content----- */
.sub-content {
  width: 100%;
  flex-direction: column;
}

.sub-content h3 {
  letter-spacing: 2.36px;
}
.sub-content p {
  font-size: 1.75rem;
}

@media (min-width: 35em) {
  main {
    margin: 3rem;
    gap: 2rem;
  }
  .title {
    justify-self: start;
  }
  .main-content {
    width: 85%;
  }
  .btn-tabs {
    --underline-gap: 0.75rem;
  }
  .sub-content {
    flex-direction: row;
    justify-content: space-evenly;
    --gap: 0;
  }
}

@media (min-width: 57em) {
  main {
    margin: 0 0 5rem 10%;
    gap: 4rem 0;
    grid-template-columns: repeat(2, minmax(0, 100rem));
    grid-template-areas:
      'title title'
      ' img content'
      'img content';
    place-items: center;
  }
  .main-content {
    max-width: 50ch;
    align-items: flex-start;
    text-align: start;
    --gap: 3rem;
  }
  .sub-content > * {
    flex: 1;
  }

  main > * {
    flex-basis: 100%;
    flex-grow: 1;
  }

  .img {
    width: 70%;
    min-width: 350px;
  }
}
