body {
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    background: url(../assets/home/background-home-mobile.jpg) no-repeat top/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header img.logo {
    width: 2.5em;
    margin: 2rem;
}

.mobile-nav-toggle {
    display: none;
}

/* header img.hamb {
    width: 1.5em;
    height: 1.3125em;
    margin: auto 0;
} */

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2.5px;
    color: #D0D6F9;
    /* text-align: center; */
}

h1 {
    text-transform: uppercase;
    /* text-align: center; */
    /* padding: 2em 3em; */
    line-height: 1.5em;
    font-size: 4.7rem;
    letter-spacing: 1px;
    margin: 0.8rem 0;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5em;
    letter-spacing: 1px;
    color: #D0D6F9;
    /* text-align: center; */
}

section {
    margin: 1.5em;
    text-align: center;
}

.explore {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin: 5.375rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 0px #c9c9c9;
    transition: box-shadow 0.275s linear;
    color: #0B0D17;
    letter-spacing: 2px;
    font-size: 1.1rem;
    text-transform: uppercase;

}

.explore:hover {
    box-shadow: 0px 0px 0px 20px rgba(201, 201, 201, 0.2);
}


.link {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.primary-nav {
    display: flex;
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
}

.primary-nav span {
    font-weight: 700;
    margin-inline-end: 0.75em;
    font-family: 'Barlow Condensed', sans-serif;

}

li {
    padding: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
}

@media (max-width:35em) {
    .primary-nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 30%;
        flex-direction: column;
        padding: 8rem 1.5rem;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-nav[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url("../assets/shared/icon-hamburger.svg");
        background-repeat: no-repeat;
        width: 24px;
        height: 21px;
        border: 0;
        top: 2.6rem;
        right: 2.5rem;
        z-index: 9999;
        outline: none;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url("../assets/shared/icon-close.svg");
        width: 19.09px;
        height: 19.09px;

    }
}